CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile

task-trackerd
fuzz/fuzz_web_server_https_request
fuzz/fuzz_web_server_https_url
unit_tests

/test/configuration/unit_test_server.key
/test/configuration/unit_test_server.crt

/configuration/configuration.json
/configuration/*.crt
/configuration/*.key
feed_data
/tasks.json
/*.csr
/*.crt
/*.key
