{
  "settings": {
    "running_in_container": true,
    "ip": "192.168.0.3",
    "port": 8443,
    "external_url": "https://tasktracker.network.home:7080/",
    "https_private_key": "./server.key",
    "https_public_cert": "./server.crt"
  }
}
